#navbar-flex {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 64px;
    padding: 0px 18px 0px 18px;
}

#navbar-logo {
    font-size: 32px;
}

#navbar-lhs {
    display: flex;
    align-items: center;
}

#navbar-rhs {
    font-size: 22px;
    display: flex;
    align-items: center;
}

.btn-logout {
    font-size: 18px;
    background-color: green;
    border: none;
    color: white;
    width: 90px;
    height: 36px;
    margin-left: 36px;
    cursor: pointer;
}